---
import Section from "../Section.astro"
import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import JavaScript from "@/icons/javascript.astro"
import NodeJS from "@/icons/node.astro"
import MySQL from "@/icons/sql.astro"
import Git from "@/icons/git.astro"
import PHP from "@/icons/php.astro"
import Python from "@/icons/python.astro"
import PostgreSQL from "@/icons/postgresql.astro"
import AWS from "@/icons/aws.astro"
import Moodle from "@/icons/moodle.astro"
import Django from "@/icons/django.astro"
import Laravel from "@/icons/laravel.astro"
import { skills } from "@cv"

const SKILLS_ICONS: Record<string, any> = {
  PHP,
  Python,
  Laravel,
  Moodle,
  Django,
  HTML,
  CSS,
  JavaScript,
  AWS,
  NodeJS,
  PostgreSQL,
  MySQL,
  Git
}
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
